{% extends "base.html" %}

{% block title %}Edit Review for {{ movie.name }} - MovieWeb App{% endblock %}

{% block content %}
<div class="add-movie-container">

  <div class="form-container">
    <h1>Edit Your Review for {{ movie.name }}</h1>
    <form id="edit-review-form" class="add-movie-form"  method="POST">
      <textarea style="border: 2px solid var(--accent-color);" name="review" id="review" rows="4" required>{{ review.text }}</textarea>
      <input style="border: 2px solid var(--accent-color);" type="number" name="rating" id="rating" min="0" max="10" step="0.1"
             value="{{ '%.1f'|format(review.rating) }}" required>
    </form>

    <div class="add-review-btn">
    <a class="show-more-btn"
       style="text-decoration: none;" href="{{ url_for('user_movies', user_id=user.id) }}">← Back to Movies</a>
    <button class="submit-review-btn" type="submit" form="edit-review-form">Update Review</button>
  </div>

  </div>

  <div class="add-review-image">
    <img src="{{ url_for('static', filename='images/edit_review_img.png') }}"
         alt="Edit Review">
  </div>

</div>
{% endblock %}
